<%- include ("_layouts/header.ejs") %>
<div class="headlines">
    <h1 class="headlines--h1">the story of nikitoza shop</h1>
</div>

<div class="about-us-button">
    <a href="#section1">
        <div class="hedlines--button">
            <img src="images/arrow-icon.svg" width="51px" height="25px">
        </div>
        <p class="headlines--p">about us</p>
    </a>
</div>
</section>

<section id="section1" class="founders">
<div class="headlines">
    <h1 class="headlines--h1">founders</h1>
    <p class="headlines--p">Nikitoza shop was founded in&nbsp;1912 by&nbsp;Pewdiepie with one aim&nbsp;&mdash; music education.</p>
</div>
<div class="content">
    <div class="content-item">
        <div class="content-item-img"><img src="/images/pewdiepie-12.jpg" width="227px" height="227px"></div>
        <div class="content-headlines">
            <div class="content-item-headline">Pewdiepie</div>
            <p class="content-item-p">Pewdiepie was born on&nbsp;1890 in&nbsp;London. He&nbsp;grew up&nbsp;in&nbsp;an&nbsp;upper class neighbourhood. He&nbsp;was raised by&nbsp;his mother, his father having left when he&nbsp;was young. began his career in&nbsp;the music business as&nbsp;a&nbsp;retail manager</p>
        </div>    
    </div>
</div>
</section>
<%- include ("_layouts/footer.ejs") %>