<%- include ("_layouts/header.ejs") %>
</section>
<section class="send">
    <h3 class="headline">send your feedback</h3>
    <div class="content">
        <div class="content-send-icon"><img src="images/feedbacks-icon.svg"></div>
        <form action="" class="send-form">
            <input type="text" class="name" placeholder="Name" required="required">
            <input type="email" class="email" placeholder="Email" required="required">
            <textarea class="message" placeholder="Message" required="required" maxlength="1000"></textarea>
            <input type="submit" class="submit-form button" value="submit">
        </form>
    </div>
</section>


<%- include ("_layouts/footer.ejs") %>