    <div class="headlines">
        <h3 class="headlines--h3">Making music makes a difference</h3>
        <h1 class="headlines--h1">fast and easy online rental </h1>
        <p class="headlines--p">We&nbsp;rent brands that are trusted by&nbsp;music<br/> teachers around the world.</p>
        <div class="headlines--button">
            <a href="#section1"><button class="choose-instrument-button button" type="button">choose instrument</button></a>
        </div>
    </div>


</section>

<section class="navigation">
    <div class="navigation-item">
        <div class="navigation-item-wrap">
            <div class="navigation-item-icon"><img src="images/navigation-instruments-icon.svg" width="48.75px" height="49.75px"></div>
            <h4 class="navigation-item-headline">instruments</h4>
            <p class="navigation-item-p">We&nbsp;rent brands that are trusted by&nbsp;music teachers.</p>
            <button class="navigation-item-button button nav-item-instruments-button">learn more</button>
        </div>
    </div>
    <div class="navigation-item">
        <div class="navigation-item-wrap">
            <div class="navigation-item-icon"><img src="images/navigation-feedbacks-icon.svg" width="50.35px" height="47.85px"></div>
            <h4 class="navigation-item-headline">feedbacks</h4>
            <p class="navigation-item-p">Read feedbacks of&nbsp;our clients or&nbsp;send your one.</p>
            <button class="navigation-item-button button nav-item-feedbacks-button">learn more</button>
        </div>
    </div>
    <div class="navigation-item">
        <div class="navigation-item-wrap">
            <div class="navigation-item-icon"><img src="images/navigation-about-us-icon.svg" width="49px" height="49px"></div>
            <h4 class="navigation-item-headline">about us</h4>
            <p class="navigation-item-p">Our company was founded in&nbsp;1905 and has rich history.</p>
            <button class="navigation-item-button button nav-item-about-us-button">learn more</button>
        </div>
    </div>
    <div class="navigation-item">
        <div class="navigation-item-wrap">
            <div class="navigation-item-icon"><img src="images/navigation-discount-icon.svg" width="62.60px" height="47.85px"></div>
            <h4 class="navigation-item-headline">Cart</h4>
            <p class="navigation-item-p">Check you cart and buy some instruments.</p>
            <button class="navigation-item-button button nav-item-discount-button">learn more</button>
        </div>
    </div>
</section>

<section class="feedbacks">
    <div class="headline">
        <h3 class="headline-h3">feedbacks</h3>
    </div>
    <div class="feedback-section">
        <div class="feedback-item">
            <div class="feedback-item-content">
                <h4 class="feedback-item-content-headline">Pavel Bobrov</h4>
                <p class="feedback-item-content-p">
                    All round very good service. Although no&nbsp;serious damage was on&nbsp;my&nbsp;instrument&nbsp;I would feel better knowing that a&nbsp;particular scratch (etc.) was not me&nbsp;especially as&nbsp;I didn&rsquo;t thoroughly examine the instrument on&nbsp;recruiting&nbsp;it.
                </p>
            </div>
        </div>
        <div class="feedback-item">
            <div class="feedback-item-content">
                <h4 class="feedback-item-content-headline">Darya Ziziko</h4>
                <p class="feedback-item-content-p">
                    Very efficient to&nbsp;answer email enquiries and very supportive throughout the process . Instrument chosen and advice given were very helpful. Great service. Would recommend. Thanks very much!
                </p>
            </div>
        </div>
    </div>
    <button class="feedbacks-button button">send your review</button>
</section>

<section class="shop">
    <div class="headline">
        <h3 class="headline-h3">shop</h3>
        <p class="headline-p">our adress and schedule</p>
    </div>
    <div class="shop-content">
        <div class="shop-content-left">
            <div class="shop-content-adress">
                <div class="shop-content-adress-wrap">
                    <div class="shop-content-adress-icon"><img src="images/shop-nav-icon.svg"></div>
                    <div class="shop-content-adress-p">Lydia Avenue, 1219,<br/> Kansas City, USA.</div>
                </div>
            </div>
            <div class="shop-content-adress">
                <div class="shop-content-adress-wrap">
                    <div class="shop-content-adress-icon"><img src="images/shop-time-icon.svg"></div>
                    <div class="shop-content-adress-p">Moday - Saturday<br/>07:00 am - 9:00 pm</div>
                </div>
            </div>
        </div>
        <div class="shop-content-right"><img src="images/shop-open.jpg" ></div>
    </div>
</section>

<section id="section1" class="question">
    <div class="headlines">
        <h3 class="headlines-h3">are you a musician?</h3>
        <p class="headlines-p">If&nbsp;you are a&nbsp;music specialist&nbsp;&mdash; great! You can see your<br/> instruments and try to&nbsp;play some of&nbsp;your song by&nbsp;yourself.</p>
        <div class="headlines-button">
            <button class="choose-instrument-button button question-button" type="button">view categories</button>
        </div>
    </div>
</section>